.address {
  padding-top: 225px;
}

.address h2 {
  color: $color-font-secondary;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;

  margin-bottom: 0;
}

.address p {
  font-size: 17px;
  line-height: 31px;

  width: 500px;

  margin: 29px auto 40px;
}

@media (max-width: $tablet-only-width) {
  .address {
    padding-top: 135px;
  }

  .address h2 {
    font-size: 24px;
  }

  .address p {
    width: auto;

    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
  }

  .address img {
    width: 91%;
    height: 545px;

    object-fit: cover;
  }
}

@media (max-width: $mobile-only-width) {
  .address {
    padding-top: 104px;
  }

  .address h2 {
    font-size: 18px;
  }

  .address p {
    margin-bottom: 19px;
    padding: 0 25px;
  }

  .address img {
    width: 100%;
    height: 250px;

    object-fit: cover;
  }
}
