.address {
  padding-top: 225px;
}

.address__header {
  color: $color-font-secondary;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;

  margin-bottom: 0;
}

.address__description {
  font-size: 17px;
  line-height: 31px;

  margin-top: 29px;
  margin-bottom: 40px;
  padding: 0 700px;
}

.address__image {

}

@media (max-width: $tablet-only-width) {

}

@media (max-width: $mobile-only-width) {

}
