.address {
  padding-top: 225px;
}

.address__header {
  color: $color-font-secondary;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;

  margin-bottom: 0;
}

.address__description {
  font-size: 17px;
  line-height: 31px;

  margin-top: 29px;
  margin-bottom: 40px;
  padding: 0 700px;
}

.address__image {

}

@media (max-width: $tablet-only-width) {
  .address {
    padding-top: 135px;
  }

  .address__header {
    font-size: 24px;
  }

  .address__description {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
  }

  .address__image {

  }
}

@media (max-width: $mobile-only-width) {
  .address {
    padding-top: 104px;
  }

  .address__header {
    font-size: 18px;
  }

  .address__description {
    margin-bottom: 19px;
    padding: 0 25px;
  }

  .address__image {

  }
}
