.application {
  width: 327px;

  margin-top: 0;
  margin-left: 25px;
}

.application h2 {
  color: $color-bg-primary;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: -0.005em;

  margin-bottom: 19px;
  padding: 0;
}

.application input {
  font-family: inherit;
  color: $color-font-secondary;
  font-size: 15px;
  line-height: 24px;

  width: 327px;
  min-height: 48px;

  margin-bottom: 20px;
  padding-left: 30px;

  border: none;
  border-radius: 6px;

  -moz-appearance:textfield;

  &:placeholder {
    color: fade-out($color-font-secondary, 0.5);
  }

  &:hover,
  &:focus {
    outline: none;

    box-shadow: 0 0 10px 2px $color-bg-primary;
  }

  &:active {
    box-shadow: 0 0 14px 4px $color-accent;
  }
}

.application button {
  font-family: inherit;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;

  width: 327px;
  min-height: 51px;

  padding: 1px 0 0;

  background-color: $color-accent;

  border: none;
  border-radius: 6px;

  cursor: pointer;

  &:hover,
  &:focus {
    outline: none;

    box-shadow: 0 0 10px 2px $color-bg-primary;
  }

  &:active {
    box-shadow: 0 0 14px 4px $color-accent;
  }
}

@media (max-width: $tablet-only-width) {
  .application {
    width: auto;

    margin-top: 70px;
    margin-left: 0;
  }

  .application h2 {
    color: $color-font-primary;
    font-size: 18px;

    width: 340px;

    margin: 0 auto 30px;
    padding: 0;
  }

  .application input {
    display: block;

    width: 321px;
    margin: 0 auto 20px;
    padding-left: 20px;

    border: 1px solid $color-border-primary;
  }

  .application button {
    width: 321px;
  }
}

@media (max-width: $mobile-only-width) {
  .application h2 {

    width: 288px;

    margin-bottom: 20px;
    padding: 0;
  }

  .application input {
    width: 288px;

    padding-left: 25px;
    padding-top: 2px;
  }

  .application button {
    width: 288px;
  }
}
