.application {
  width: 327px;

  margin-top: 5px;
  margin-left: 125px;
}

.application__form {

}

.application__header {
  color: $color-bg-primary;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: -0.005em;

  margin-bottom: 19px;
  padding: 0;
}

.application__input {
  font-family: inherit;
  color: $color-font-secondary;
  font-size: 15px;
  line-height: 24px;

  width: 100%;
  min-height: 48px;

  margin-bottom: 20px;
  padding-left: 30px;

  border: none;
  border-radius: 6px;

  &:placeholder {
    opacity: 0.5;
  }
}

.application__submit {
  font-family: inherit;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;

  width: 100%;
  min-height: 51px;

  padding: 1px 0 0;

  background-color: $color-accent;

  border: none;
  border-radius: 6px;
}

@media (max-width: $tablet-only-width) {
  .application {
    width: auto;

    margin-top: 70px;
    margin-left: 0;
  }

  .application__form {

  }

  .application__header {
    color: $color-font-primary;
    font-size: 18px;

    margin-bottom: 30px;
    padding: 0 220px;
  }

  .application__input {
    display: block;

    width: 321px;
    margin: 0 auto 20px;
    padding-left: 20px;

    border: 1px solid $color-border-primary;
  }

  .application__submit {
    width: 321px;
  }
}

@media (max-width: $mobile-only-width) {
  .application {
    /*width: auto;*/

    /*margin-top: 70px;*/
    /*margin-left: 0;*/
  }

  .application__form {

  }

  .application__header {
    /*color: $color-font-primary;*/
    /*font-size: 18px;*/

    margin-bottom: 20px;
    padding: 0;
  }

  .application__input {
    width: 288px;
    /*margin: 0 auto 20px;*/
    padding-left: 25px;
    padding-top: 2px;
/**/
    /*border: 1px solid $color-border-primary;*/
  }

  .application__submit {
    width: 288px;
  }
}
