.bicycle-types {
  background-color: $color-bg-secondary;

  padding-top: 126px;
  padding-bottom: 132px;
}

.bicycle-types h2 {
  color: $color-font-secondary;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
}

.bicycle-types ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  list-style: none;

  margin-top: 49px;
  padding-left: 164px;
  padding-right: 139px;
}

.bicycle-types li {
  position: relative;

  width: 31%;
}

@media (max-width: $tablet-only-width) {
  .bicycle-types {
    padding-top: 30px;
    padding-bottom: 53px;
  }

  .bicycle-types h2 {
    font-size: 24px;
    line-height: 41px;
  }

  .bicycle-types ul {
    justify-content: space-between;
    flex-wrap: wrap;

    margin-top: 30px;
    padding: 0 89px;
  }

  .bicycle-types li {
    margin-bottom: 49px;
    width: auto;
  }
}

@media (max-width: $mobile-only-width) {
  .bicycle-types {
    padding-bottom: 38px;
  }

  .bicycle-types ul {
    padding: 0 25px;
  }

  .bicycle-types li {
    margin-bottom: 42px;
  }
}
