.bicycle-type {
  &--big-circle-hidden {
    z-index: 2;

    margin-top: 10px;

    &::before {
      content: "";

      z-index: -1;

      position: absolute;
      top: 24%;
      left: -16%;

      width: 180px;
      height: 180px;

      border: 27px solid $color-accent;
      border-radius: 100px;
    }
  }

  &--small-squares {
    margin-top: 39px;

    &::before,
    &::after {
      content: "";

      position: absolute;

      width: 47px;
      height: 47px;

      border: 8px solid $color-accent;
    }

    &::before {
      left: -20px;
      top: -20px;
    }

    &::after {
      right: -20px;
      bottom: 30px;
    }
  }

  &--small-circle {
    &::before {
      content: "";

      position: absolute;
      top: -30px;
      right: -30px;

      width: 95px;
      height: 95px;

      border: 17px solid $color-accent;
      border-radius: 50px;
    }
  }
}

.bicycle-type figure {
  margin: 0;
}

.bicycle-type img {
  border-radius: 10px;
}

.bicycle-type figcaption {
  font-weight: 600;
  font-size: 22px;
  line-height: 34px;
  letter-spacing: -0.5px;

  margin-top: 21px;
}

@media (max-width: $tablet-only-width) {
  .bicycle-type {
    &:last-child.bicycle-type:nth-child(2n+3) {
      margin-right: auto;
      margin-bottom: 0;
      margin-left: auto;
      outline: 10px red;
    }

    &--big-circle-hidden {
      margin-top: 0;

      &::before {
        top: 201px;
        left: -37px;

        width: 127px;
        height: 127px;

        border-width: 18px;
      }
    }

    &--small-squares {
      margin-top: 0;

      &::before,
      &::after {
        display: none;
      }
    }

    &--small-circle {
      &::before {
        top: -20px;
        right: -25px;

        width: 68px;
        height: 68px;

        border-width: 13px;
      }
    }
  }

  .bicycle-type img {
    width: 270px;
    height: 300px;

    object-fit: cover;
  }
}

@media (max-width: $mobile-only-width) {
  .bicycle-type {
    &--big-circle-hidden {
      &::before {
        top: 201px;
        left: -24px;
      }
    }

    &--small-circle {
      &::before {
        right: -15px;
      }
    }
  }

  .bicycle-type figcaption {
    margin-top: 20px;
  }
}
