

.bicycle-type figure {
  margin: 0;
}

.bicycle-type img {
  border-radius: 10px;
}

.bicycle-type figcaption {
  font-weight: 600;
  font-size: 22px;
  line-height: 34px;
  letter-spacing: -0.5px;

  margin-top: 21px;
}

@media (max-width: $tablet-only-width) {
  .bicycle-type {
    &:last-child.bicycle-type:nth-child(2n+3) {
      margin-right: auto;
      margin-bottom: 0;
      margin-left: auto;
      outline: 10px red;
    }
  }

  .bicycle-type img {
    width: 270px;
    height: 300px;

    object-fit: cover;
  }
}

@media (max-width: $mobile-only-width) {
  .bicycle-type figcaption {
    margin-top: 20px;
  }
}
