.bicycle-type {

}

.bicycle-type__figure {
  margin: 0;


}

.bicycle-type__image {
  border-radius: 10px;
}

.bicycle-type__name {
  font-weight: 600;
  font-size: 22px;
  line-height: 34px;
  letter-spacing: -0.5px;

  margin-top: 21px;
}

@media (max-width: $mobile-only-width) {
  .bicycle-type__name {
    margin-top: 20px;
  }
}
