.bicycle-types {
  background-color: $color-bg-secondary;

  padding-top: 126px;
  padding-bottom: 133px;
}

.bicycle-types__header {
  color: $color-font-secondary;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
}

.bicycle-types__list {
  display: flex;
  flex-direction: row;

  list-style: none;

  margin-top: 49px;
  padding-left: 0;
}

.bicycle-types__item {
  position: relative;

  &:first-child {
    margin-top: 10px;
  }

  &:nth-child(2) {
    margin-top: 39px;
  }

  &--big-circle-hidden {
    z-index: 1;
    &::before {
      content: "";

      /*z-index: -1;*/

      position: absolute;
      top: 156px;
      left: -99px;

      width: 180px;
      height: 180px;

      border: 27px solid $color-accent;
      border-radius: 100px;
    }
  }

  &--small-squares {
    &::before, &::after {
      content: "";

      position: absolute;

      width: 47px;
      height: 47px;

      border: 8px solid $color-accent;
    }

    &::before {
      left: -20px;
      top: -20px;
    }

    &::after {
      right: -20px;
      bottom: 30px;
    }
  }

  &--small-circle {
    &::before {
      content: "";

      position: absolute;
      top: -30px;
      right: -30px;

      width: 95px;
      height: 95px;

      border: 17px solid $color-accent;
      border-radius: 50px;
    }
  }
}

@media (max-width: $tablet-only-width) {
  .bicycle-types {
    padding-top: 30px;
    padding-bottom: 53px;
  }

  .bicycle-types__header {
    font-size: 24px;
    line-height: 41px;
  }

  .bicycle-types__list {
    justify-content: space-between;
    flex-wrap: wrap;

    margin-top: 30px;
    padding: 0 89px;
  }

  .bicycle-types__item {
    margin-bottom: 49px;

    &:first-child {
      margin-top: 0;
    }

    &:nth-child(2n) {
      margin-top: 0;
    }

    &:last-child {
      margin-right: auto;
      margin-bottom: 0;
      margin-left: auto;
    }

    &--big-circle-hidden {
      &::before {
        top: 201px;
        left: -37px;

        width: 127px;
        height: 127px;

        border-width: 18px;
      }
    }

    &--small-squares {
      &::before, &::after {
        display: none;
      }
    }

    &--small-circle {
      &::before {
        top: -20px;
        right: -25px;

        width: 68px;
        height: 68px;

        border-width: 13px;
      }
    }
  }
}

@media (max-width: $mobile-only-width) {
  .bicycle-types {
    /*padding-top: 30px;*/
    padding-bottom: 38px;
  }

  .bicycle-types__header {

  }

  .bicycle-types__list {
    padding: 0 25px;
  }

  .bicycle-types__item {
    margin-bottom: 42px;

    &--big-circle-hidden {
      &::before {
        top: 201px;
        left: -24px;
      }
    }

    &--small-squares {
      &::before, &::after {
        display: none;
      }
    }

    &--small-circle {
      &::before {
        right: -15px;
      }
    }
  }
}
