.bicycle-types {
  background-color: $color-bg-secondary;

  padding-top: 126px;
  padding-bottom: 132px;
}

.bicycle-types h2 {
  color: $color-font-secondary;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;

  padding-right: 11px;
}

.bicycle-types ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  list-style: none;

  margin-top: 49px;
  padding-left: 164px;
  padding-right: 139px;
}

.bicycle-types li {
  position: relative;

  width: 31%;
}

.bicycle-types__big-circle-hidden {
  z-index: 2;

  margin-top: 10px;

  &::before {
    content: "";

    z-index: -1;

    position: absolute;
    top: 24%;
    left: -16%;

    width: 180px;
    height: 180px;

    border: 27px solid $color-accent;
    border-radius: 100px;
  }
}

.bicycle-types__small-squares {
  margin-top: 39px;

  &::before,
  &::after {
    content: "";

    position: absolute;

    width: 47px;
    height: 47px;

    border: 8px solid $color-accent;
  }

  &::before {
    left: -14px;
    top: -18px;
  }

  &::after {
    right: -17px;
    bottom: 32px;
  }
}

.bicycle-types__small-circle {
  &::before {
    content: "";

    position: absolute;
    top: -30px;
    right: -30px;

    width: 95px;
    height: 95px;

    border: 17px solid $color-accent;
    border-radius: 50px;
  }
}

@media (max-width: $tablet-only-width) {
  .bicycle-types {
    padding-top: 30px;
    padding-bottom: 53px;
  }

  .bicycle-types h2 {
    font-size: 24px;
    line-height: 41px;

    padding-right: 0;
  }

  .bicycle-types ul {
    margin-top: 30px;
    padding: 0 89px;
  }

  .bicycle-types li {
    margin-bottom: 49px;
    width: auto;
  }

  .bicycle-types__big-circle-hidden {
    margin-top: 0;

    &::before {
      top: 201px;
      left: -37px;
      width: 127px;
      height: 127px;

      border-width: 18px;
    }
  }

  .bicycle-types__small-squares {
    margin-top: 0;

    &::before,
    &::after {
      display: none;
    }
  }

  .bicycle-types__small-circle {
    &::before {
      top: -20px;
      right: -25px;

      width: 68px;
      height: 68px;

      border-width: 13px;
    }
  }
}

@media (max-width: $mobile-only-width) {
  .bicycle-types {
    padding-bottom: 38px;
  }

  .bicycle-types ul {
    padding: 0 25px;
  }

  .bicycle-types li {
    margin-bottom: 42px;
  }

  .bicycle-types__big-circle-hidden {
    &::before {
      top: 201px;
      left: -24px;
    }
  }

  .bicycle-types__small-circle {
    &::before {
      right: -15px;
    }
  }
}
