.intro {
  min-height: 825px;

  padding-top: 318px;

  background-image: url(../img/main-bg-desktop@1x.jpg);
}

.intro__wrapper {
  display: flex;
}

@media (max-width: $tablet-only-width) {
  .intro {
    min-height: auto;

    padding-top: 0;

    background-image: none;
  }

  .intro__wrapper {
    display: block;
  }
}

@media (max-width: $mobile-only-width) {

}
