.main-footer {
  display: flex;
  justify-content: center;

  padding-top: 23px;
  padding-bottom: 82px;
}

.main-footer__list {
  display: flex;
  justify-content: space-between;

  width: 530px;

  padding-left: 23px;

  list-style: none;
}

.main-footer__item {
  font-size: 16px;
  line-height: 22px;
  position: relative;
}

.main-footer__icon {
  position: absolute;

  &--mail {
    left: -40px;
    top: 2px;
  }

  &--phone {
    left: -37px;
    top: -3px;
  }
}

.main-footer__link {
  color: fade-out($color-font-primary, 0.5);

  &:hover,
  &:focus {
    outline: none;

    color: $color-accent;
  }

  &:active {
    color: fade-out($color-accent, 0.5);
  }
}

@media (max-width: $tablet-only-width) {
  .main-footer {
    padding-top: 5px;
    padding-bottom: 38px;
  }

  .main-footer__list {
    width: 540px;

    padding-left: 32px;
  }

  .main-footer__icon {
    &--mail {
      left: -41px;
      top: 2px;
    }

    &--phone {
      left: -38px;
      top: -3px;
    }
  }
}

@media (max-width: $mobile-only-width) {
  .main-footer {
    padding-top: 15px;
    padding-bottom: 20px;
  }

  .main-footer__list {
    flex-direction: column;

    width: auto;

    padding-left: 0;
  }

  .main-footer__item {
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .main-footer__icon {
    &--mail {
      left: 9px;
      top: 2px;
    }

    &--phone {
      left: 38px;
      top: -4px;
    }
  }

  .main-footer__link {
    &--mail {
      padding-left: 50px;
    }

    &--phone {
      padding-left: 26px;
    }
  }
}
