.main-footer {
  display: flex;
  justify-content: center;

  padding-top: 23px;
  padding-bottom: 52px;
}

.main-footer ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 530px;

  padding-left: 23px;

  list-style: none;
}

.main-footer li {
  font-size: 16px;
  line-height: 22px;
  position: relative;

  margin-bottom: 30px;
}

.main-footer__link {
  &--mail svg {
    position: absolute;

    left: -40px;
    top: 2px;
  }

  &--phone svg {
    position: absolute;

    left: -37px;
    top: -3px;
  }
}

.main-footer a {
  color: fade-out($color-font-primary, 0.5);

  &:hover,
  &:focus {
    outline: none;

    color: $color-accent;
  }

  &:active {
    color: fade-out($color-accent, 0.5);
  }
}

@media (max-width: $tablet-only-width) {
  .main-footer {
    padding-top: 5px;
    padding-bottom: 8px;
  }

  .main-footer ul {
    width: 538px;

    padding-left: 31px;
  }

  .main-footer__link {
    &--mail svg {
      left: -41px;
    }

    &--phone svg {
      left: -38px;
    }
  }
}

@media (max-width: $mobile-only-width) {
  .main-footer {
    padding-top: 15px;
    padding-bottom: 20px;
  }

  .main-footer ul {
    flex-direction: column;

    width: auto;

    padding-left: 0;
  }

  .main-footer li {
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .main-footer__link {
    &--mail {
      & svg {
        left: 9px;
      }

      & a {
        padding-left: 50px;
      }
    }

    &--phone {
      & svg {
        left: 38px;
        top: -4px;
      }

      & a {
        padding-left: 26px;
      }
    }
  }
}
