.slogan {
  text-align: left;
  width: 387px;

  margin-top: 9px;
}

.slogan h2 {
  color: $color-bg-primary;
  font-weight: 700;
  font-size: 46px;
  line-height: 64px;
  letter-spacing: -0.005em;

  margin-top: 26px;
  margin-bottom: 0;
}

.slogan p {
  color: fade-out($color-bg-primary, 0.2);
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.005em;

  margin-top: 25px;
  padding-right: 40px;
}

@media (max-width: $tablet-only-width) {
  .slogan {
    min-height: 340px;
    width: auto;

    margin-top: 0;
    padding-left: 0;

    background-image: url("../img/main-bg@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: $color-font-secondary;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/main-bg@2x.jpg");
    }
  }

  .slogan svg {
    margin-top: 25px;
    margin-left: 20px;
  }

  .slogan h2 {
    text-align: center;

    font-size: 30px;
    line-height: 42px;

    margin-top: 85px;
    padding-left: 0;
  }

  .slogan p {
    text-align: center;
    font-size: 18px;

    width: 435px;

    margin: 19px auto 0;
    padding: 0;
  }
}

@media (max-width: $mobile-only-width) {
  .slogan {
    min-height: 390px;
  }

  .slogan svg {
    margin-left: 15px;
  }

  .slogan h2 {
    margin-top: 71px;
  }

  .slogan p {
    width: auto;

    padding: 0 20px;
  }
}
