.slogan {
  text-align: left;
  width: 500px;

  padding-left: 71px;
}

.slogan__main-logo-link {

}

.slogan__main-logo {

}

.slogan__header {
  color: $color-bg-primary;
  font-weight: 700;
  font-size: 46px;
  line-height: 64px;
  letter-spacing: -0.005em;

  margin-top: 26px;
  margin-bottom: 0;
  padding-left: 1px;
}

.slogan__description {
  color: $color-bg-primary;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.005em;
  opacity: 0.8;

  margin-top: 25px;
  padding-left: 1px;
  padding-right: 40px;
}

@media (max-width: $tablet-only-width) {
  .slogan {
    min-height: 340px;
    width: auto;

    padding-left: 0;
    background-image: url(../img/main-bg-tablet@1x.jpg);
  }

  .slogan__main-logo-link {

  }

  .slogan__main-logo {
    margin-top: 25px;
    margin-left: 20px;
  }

  .slogan__header {
    text-align: center;

    font-size: 30px;
    line-height: 42px;

    margin-top: 85px;
    padding-left: 0;
  }

  .slogan__description {
    text-align: center;

    font-size: 18px;

    margin-top: 19px;
    padding: 0 180px;
  }
}

@media (max-width: $mobile-only-width) {
  .slogan {
    min-height: 390px;

    background-image: url(../img/main-bg-mobile@1x.jpg);
  }

  .slogan__main-logo-link {

  }

  .slogan__main-logo {
    margin-left: 15px;
  }

  .slogan__header {
    margin-top: 71px;
  }

  .slogan__description {
    padding: 0 20px;
  }
}
