.video-advice {
  background-color: $color-bg-tertiary;

  position: relative;

  min-height: 706px;

  padding-top: 96px;
}

.video-advice__header {
  color: $color-bg-primary;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;

  margin-bottom: 0;
}

.video-advice__description {
  color: $color-bg-primary;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.005em;
  opacity: 0.7;

  margin-top: 19px;
  margin-bottom: 0px;
  padding: 0 750px;
}

.video-advice__play-button {
  position: absolute;
  bottom: 130px;
  left: 50%;

  transform: translateX(-50%);

  width: 65px;
  height: 65px;

  background-color: $color-accent;

  padding-top: 4px;
  padding-left: 13px;

  border: none;
  border-radius: 40px;

  z-index: 5;
}

.video-advice__play-button-icon {

  &--tablet {
    display: none;
  }
}

.video-advice__video {
  position: absolute;

  bottom: -98px;
  left: 50%;

  transform: translateX(-50%);
}

@media (max-width: $tablet-only-width) {
  .video-advice {
    min-height: 413px;

    padding-top: 50px;
  }

  .video-advice__header {
    font-size: 24px;
  }

  .video-advice__description {
    margin-top: 20px;
    padding: 0 170px;
  }

  .video-advice__play-button {
    bottom: 11px;

    width: 90px;
    height:  90px;

    padding-top: 5px;
    padding-left: 12px;

    border-radius: 90px;

  }

  .video-advice__play-button-icon {

    &--desktop {
      display: none;
    }

    &--tablet {
      display: inline;
    }
  }

  .video-advice__video {
    bottom: -85px;
  }
}

@media (max-width: $mobile-only-width) {
  .video-advice {
    min-height: 384px;

    padding-top: 63px;
  }

  .video-advice__header {
  }

  .video-advice__description {
    margin-top: 21px;
    padding: 0 10px;
  }

  .video-advice__play-button {
    bottom: 0;

    width: 65px;
    height:  65px;
  }

  .video-advice__play-button-icon {

    &--desktop {
      display: inline;
    }

    &--tablet {
      display: none;
    }
  }

  .video-advice__video {
    bottom: -49px;
  }
}
