.video-advice {
  background-color: $color-bg-tertiary;

  padding-top: 96px;
}

.video-advice h2 {
  color: $color-bg-primary;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;

  margin-bottom: 0;
  padding-right: 10px;
}

.video-advice__video-wrapper {
  position: relative;

  bottom: -98px;
}

.video-advice p {
  color: fade-out($color-bg-primary, 0.3);
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.005em;

  width: 340px;

  margin: 19px auto -42px;
}

.video-advice button {
  position: absolute;
  bottom: 50%;

  left: 50%;
  transform: translate(-50%, 50%);


  width: 65px;
  height: 65px;

  background-color: $color-accent;

  padding-top: 4px;
  padding-left: 13px;

  border: none;
  border-radius: 40px;

  z-index: 5;

  cursor: pointer;

  &:hover,
  &:focus {
    outline: none;

    box-shadow: 0 0 14px 4px $color-bg-primary;
  }

  &:active {
    box-shadow: 0 0 14px 6px $color-accent;
  }
}

@media (max-width: $tablet-only-width) {
  .video-advice {
    min-height: normal;

    padding-top: 50px;
  }

  .video-advice h2 {
    font-size: 24px;

    padding-right: 0;
  }

  .video-advice p {
    width: 450px;

    margin-top: 20px;
    margin-bottom: -43px;
  }

  .video-advice button {

    width: 90px;
    height: 90px;

    padding-top: 2px;
    padding-left: 12px;

    border-radius: 90px;
  }

  .video-advice svg {
    width: 19px;
    height: 26px;
  }

  .video-advice__video-wrapper {
    left: 50%;
    transform: translateX(-50%);
    bottom: -85px;

    width: 65vw;
  }
}

@media (max-width: $mobile-only-width) {
  .video-advice {
    min-height: 384px;

    padding-top: 64px;
  }

  .video-advice h2 {
    padding-right: 12px;
  }

  .video-advice p {
    width: 288px;

    margin-top: 20px;
    padding: 0;
  }

  .video-advice button {
    width: 65px;
    height: 65px;
  }

  .video-advice svg {
    width: auto;
    height: auto;
  }

  .video-advice__video-wrapper {
    width: 90vw;

    bottom: -96px;
  }
}
