$desktop-width: 1024px;
$tablet-only-width: 1023px;
$tablet-width: 768px;
$mobile-only-width: 767px;
$mobile-width: 320px;
$color-font-primary: #000000;
$color-font-secondary: #1f1f1f;
$color-font-menu: #48494d;
$color-accent: #0ad9c6;
$color-bg-primary: #ffffff;
$color-bg-secondary: #f6f7f9;
$color-bg-tertiary: #131314;
$color-bg-menu: #f6f6f6;
$color-border-primary: #c9ccd4;
$color-toggle-opened: rgba(20, 21, 23, 0.2);
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
