$desktop-width: 1024px;
$tablet-only-width: 1023px;
$tablet-width: 768px;
$mobile-only-width: 767px;
$mobile-width: 320px;
$color-font-primary: #000000;
$color-font-secondary: #1F1F1F;
$color-accent: #0AD9C6;
$color-bg-primary: #FFFFFF;
$color-bg-secondary: #F6F7F9;
$color-bg-tertiary: #131314;
$color-border-primary: #C9CCD4;
